
@import './global.scss';

.header {
  position: relative;
  background: $barBlue;
  z-index: 10;
  display: grid;
  grid-template-columns: 19.25rem 1fr 19.25rem;

  @media (max-width: 1560px) {
    grid-template-columns: 14.25rem 1fr 14.25rem;
  }

  &__contentBox {
    grid-column: 2;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;

    @media (max-width: 1602px) {
      margin: 0;
      max-width: 100%;
    }
  }

  &::after {
    z-index: -2;
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    background: #fff;

    @media (max-width: 1082px) {
      content: none;
    }
  }
}

.header__nav {
  align-self: center;
  margin: -5rem 0 0 0;

  @media (max-width: 1560px) {
    margin-left: 1rem;
  }

  @media (max-width: 1082px) {
    margin: 2rem 0;
  }
}

.header__navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1346px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (max-width: 1082px) {
    flex-direction: column;
  }
}

.header__navMenuItem {
  &:not(:last-of-type) {
    margin-right: 1.87rem;
  }

  @media (max-width: 1346px) {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.header__navMenuLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;

  &:hover {
    color: #7493a6;
  }

  @media (max-width: 690px) {
    padding: 0.25rem;
    width: 100%;
  }
}

.siteLogo {
  position: relative;
  background: #fff;
  box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 1.875rem 2.3rem;

  @media (max-width: 1370px) {
    padding: 1.875rem 1.3rem;
  }
}

.header__search {
  position: absolute;
  top: 3rem;
  right: 1.2rem;
}

.search__input {
  margin-bottom: 1rem;
  background: #7493a6;
  border: none;
  height: 1.6rem;
  padding: 0 0.5rem;
  width: 10rem;
  opacity: 1;
  transition: 0.3s;
  margin-right: 1rem;

  &--hidden {
    transition: 0.3s;
    opacity: 0;
    width: 0;
    visibility: hidden;
  }
}

.search__form {
  display: flex;
  align-items: start;
}

.search__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
